<div class="container education-container">
  <h3>{{ site.education_title | default: "Education" }}</h3>

  <!-- <table class="table table-striped">
    <thead>
      <tr>
        <h4>
          <th scope="col" class="text-center">Year</th>
          <th scope="col" class="text-center">Institution</th>
          <th scope="col" class="text-center">Degree</th>
          <th scope="col" class="text-center">GPA</th>
        </h4>

      </tr>
    </thead>
    <tbody class="text-large text-center"> -->


  {% for education in site.data.education %}


  {% include {{ education.layout | default: 'edutable' | append: ".html" }} item=education %}


  {% endfor %}

  <!-- </tbody>


  </table> -->
</div>